.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1400px;
    height: 1400px;
    grid-template-rows: 60px 2fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
"h h "
"n c  ";
}

.app-wrapper-content {

    grid-area: c;
    background-color: cadetblue;


}







